# Copie este arquivo para .streamlit/secrets.toml
# e preencha com suas chaves reais antes do deploy.
SUPABASE_URL = "https://brodgdcabycdudmztrel.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJyb2RnZGNhYnljZHVkbXp0cmVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyMzM2MzgsImV4cCI6MjA3MzgwOTYzOH0.aMQzyBL1ELNDS7FJTkdBVlVbTNbiyCCLs3--KtjBJTg"
